.footer {
    margin-top: 2rem;
    background-color: #F90606;
    max-width: 100% !important;

    .boxFooter {
        display: flex;
        justify-content: space-between;
        gap: 5rem;

        .logoFooter {
            // width: 350px;
            margin-left: 5rem;
            margin-top: 2rem;

            img {
                width: 150px;
                height: 200px;
                border: 1px solid white;

            }
        }

        .boxRedes {
            text-align: center;
            margin-top: 2rem;

            .redes {
                margin-right: 5rem;
                padding-top: 2rem;
                

                .MuiSvgIcon-root {
                    font-size: 1.5rem;
                    margin-right: 3rem;
                    margin-left: 3rem;
                    color: white;
                }
            }
            .copyRight {

                text-align: center;
                padding-bottom: 1rem;
                color: white;
            }
        }

        @media (max-width:900px) {
            display: block;
            text-align: center;
            .logoFooter{
                text-align: center;
                margin-left: 0px;
                padding-top: 2rem;
            }
            .boxRedes{
                .redes{
                    margin-right: 0px;
                    .MuiSvgIcon-root{
                        margin-bottom: 2rem !important;
                    }
                }
            }
        }
    }

    

}