#contacto {
    padding-left: 17.6%;
    padding-right: 17.6%;
    @media (max-width:900px) {
        padding-left: 12%;
        padding-right: 12%;
    }
}
#contacto h1{
    padding-left: 0;
    @media (max-width:600px) {
    transform: translate(-0.9em);
    }
}
#contacto h3{
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Inika',serif;
}
.form {
    text-align: center;
    color: black;
    
    
    label,
    input {
        text-indent: 10px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: block
    }

    input {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: start;
        width: 100%;
        font-family: 'Inika',serif;
        height: 55px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1em;
        font-size: 0.9rem;
        border: 2px solid black;
        border-radius: 0;
        /* &::placeholder {
            padding-left: 1em;
        } */
        &:focus {
            border-color: #F90606;
            box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(12, 12, 12, 0.6);
            outline: 0 none;
        }
    }
   
    textarea {
        font-family: 'Inika',serif;
        padding-top: 17px;
        text-align: start;
        text-indent: 10px;
        width: 100%;
        height: 150px;
        margin: 1rem auto;
        display: block;
        font-size: 0.9rem;
        border: 2px solid black;
        border-radius: 0;
        &:focus {
            border-color: #F90606;
            box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(12, 12, 12, 0.6);
            outline: 0 none;
        }
    }
    
    /* input::-webkit-input-placeholder, input:-ms-input-placeholder {
        margin-left: 1em ;
    } */
    .btnContacto{
        background-color:white;
        color:#F90606;
        border: 1px solid black;
        border-radius: 0;
        box-shadow: none;
        font-family: 'Inika',serif;
        text-transform: capitalize;
        width: 155px;
        height: 33px;

        &:hover{
            background-color: #F9060610;
            box-shadow: none; /**/
            /* color:white */
        }
    }
}
