#nosotros {
    .circleContainer {
        .boxImage  {
            @media (max-width:900px) {
                text-align: center !important;
                .mixColoredCircle{
                    display:none;
                }
                .uniformCircle {
                    right: -17%;
                    top: 21%
                }
            }
        }
    }
    .circleContainer__francisco, .circleContainer__cristina  {
        .boxImage__francisco{
            @media (max-width:900px) {
                text-align: center !important;
                .mixColoredCircle__francisco, .mixColoredCircle__cristina{
                    display:none;
                }
                .uniformCircle__francisco, .uniformCircle__cristina {
                    left:32.5%
                }
                .smallCircle_francisco{
                    left:52.5%
                }
                .smallCircle_cristina{
                    right: -28%;
                }
            }
        }
    }
 .info{
    text-align: justify;
    padding-left: 6rem;
    padding-right: 6rem;
    font-size: 1.2rem;
 }
}