/**** GALERIA COMPONENT  ****/
/* #galeria {
  margin-top: -5rem;
}
.tituloGaleria {
  padding-right: 9.3%;
  text-align: end;
  margin-bottom: 2em;
}
.containerFotos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 8%;
  padding-right: 8%;
  position: relative;
}
.boxFotoGaleria {
  display: flex;
  flex-direction: row;
  justify-content: center;  */
  /* max-width: 20%; */
/*
}
.fotoGaleria {
  width: 85% !important;
  margin-bottom: 2.5em;
}
.boxAdorno {
  position: relative;
  padding-bottom: 0em;
  margin-left: 3em;
  width: 79px;
  height: 79px;
}
.medioAdornoGaleria1 {
  position: absolute; 
  z-index: 2;
  width:52px;
  height:52px;
}
.medioAdornoGaleria2 {
  position: absolute;left: 38px; bottom:12px;
  z-index: 1;
  width:79px;
  height:79px;
}
.adornoGaleria1 {
  width: 11.2%;
  position:absolute;top: 43%; left: 3%;
  z-index:-1;
  transform: rotate(100deg);
}
.adornoGaleria2 {
  width: 10%;
  position:absolute;top: -6%; left: 84%;
  z-index:-1;
  transform: rotate(21deg);
}
.adornoGaleria3 {
  width: 11.2%;
  position:absolute;top: 88%; left: 83%;
  z-index:-1;
  transform: rotate(200deg);
}
.fotoGaleriaAmpliada {
  width: 100%;
}
.loading{
  margin: 0px auto
} */

/**** GALERIA COMPONENT  ****/

#galeria {
  min-height: 450px;
}
.tituloGaleria {
  font-size: 4rem;
  font-family: 'Inika', serif;
  color: var(--redBrand);
  padding-top: 3rem;
  /* padding-right: 9.3%; */
  padding-right: 19%;
  text-align: end;
  margin-bottom: 1.4em;
  margin-top: 0.4em;
}
.containerFotos {
  display: flex;
  flex-direction: row;
  justify-content: center;
 /*  padding-left: 7em;
  padding-right: 7em; */
  padding-left: 19%;
  padding-right: 19%;
  padding-bottom: 3em;
  position: relative;
}
.boxFotoGaleria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* max-width: 20%; */
}
/* .fotoGaleria {
  width: 85% !important;
  margin-bottom: 2em;
  height: auto;
  margin-left: 7.5%;
  margin-right: 7.5%;
} */
.fotoGaleria {
  width: 100% !important;

  height: auto;
} 
.boxAdorno {
  position: relative;
  padding-bottom: 0em;
  margin-left: 3em;
  width: 79px;
  height: 79px;
}
.medioAdornoGaleria1 {
  position: absolute; 
  z-index: 2;
  width:52px;
  height:52px;
}
.medioAdornoGaleria2 {
  position: absolute;left: 38px; bottom:12px;
  z-index: 1;
  width:79px;
  height:79px;
}
.adornoGaleria1 {
  width: 8.9%;
  /* position:absolute;top: 43%; left: 15%; */
  position:absolute;top: 19%; left: 15%;
  z-index:-1;
  transform: rotate(100deg);
}
.adornoGaleria2 {
  width: 8.9%;
  position:absolute;top: -2.9%; left: 75%;
  z-index:-1;
  transform: rotate(21deg);
}
.adornoGaleria3 {
  width: 9%; 
  position:absolute;top: 31.9%; left: 74%;
  /* position:absolute; bottom: 12%; left: 74%; */
  z-index:-1;
  transform: rotate(200deg);
}
.adornoGaleria4 {
  width: 9%; 
  position:absolute;top: 65.2%; left: 15%;
  /* position:absolute; bottom: 12%; left: 74%; */
  z-index:-1;
  transform: rotate(255deg);
}
.adornoGaleria5 {
  width: 9%; 
  position:absolute; bottom:7%; left: 45%;
  /* position:absolute; bottom: 12%; left: 74%; */
  z-index:-1;
  transform: rotate(0deg);
}
.fotoGaleriaAmpliada {
  width: 100%;
}

.loading{
  margin: 0px auto
}

figure img{
  box-sizing: border-box;
  /* width: 100%; */
}
.descripcionProyecto {
  position: absolute; top:0; left: 0%; bottom: 0; right: 0%;
  /* background-color: rgba(0, 0, 0, 0.55); */
  opacity: 0.8;
  box-sizing: border-box; 
  width: 100% !important;
  /* margin-bottom: 2.5em; */
  height: auto;
 /*  margin-left: 7.5%;
  margin-right: 7.5%; */
  visibility: hidden;
  z-index: 1;
  font-family: 'Inika';
  background-color: rgba(250,250,250,0.7);
  font-family: 'Inika', serif;
  /* padding-left: 20%;
  padding-right: 20%; */
}
.descripcionProyecto h3 {
  color: var(--redBrand);
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0;
  text-align: left !important;
  padding-left: 20%;
  padding-right: 20%;
  
}
.descripcionProyecto p {
  text-align:left;
  font-size: 1em;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 0;
  
}

.proyecto {
  box-sizing: border-box;
  position: relative;
  /* margin-top: 2rem;*/
 width: 85% !important;
  /* margin-bottom: 2.5em; */
  margin-bottom: 15%;
  height: auto;
  margin-left: 7.5%;
  margin-right: 7.5%;
}
.proyecto:hover .descripcionProyecto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility:visible;

}
.proyecto:hover .fotoGaleria{
  filter: blur(5px);
}
figure {
  margin: 0;
}
.capPdf {    
  width: 92.2%;
  height: 87%;
  margin-right: 4.3%;
  margin-left: 4.1%;
  box-sizing: border-box;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("../../../public/images/dibujos/Cap_pdf_2.webp");
}
.boxTextoModal {
  font-family: "Inika, serif";
  text-align: left;
  font-size: 1.2em;
}
.boxTextoModal h3 {
  font-weight: 700;
  color: var(--redBrand);
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0em;
  margin-top: 0;
}
.boxTextoModal p {
  margin-bottom: 0;
  margin-top: 0;
}
.modalRigthBox {
  display: flex;
  flex-direction: row;
}
.boxModalCloseIcon {
  /* transform: translateY(-4em); */
  width: 5%;
}
.MuiIcon-root.modalCloseIcon {
  color: rgb(99, 99, 99);
  /* transform: translate(60%); */
  /* width: 4em; */
}
.contactButton__galery {
  margin-top: 2em;
}
/* .css-1b3l6lk-MuiGrid-root .capPdf .pdfButton { */
  .pdfButton {
  color: white;
  text-decoration: none;
  font-size: 2em;
  margin: 0;
  margin-top: 1em;
  display: inline-block;
  width: 100%;
  text-align: center;
}

@media (max-width:1300px) {
  
  .adornoGaleria4 {
    position:absolute;top: 63.2%; left: 15%;
    /* position:absolute; bottom: 12%; left: 74%; */
  }
  .adornoGaleria5 {
    position:absolute; bottom: 9.5%; 
  }
  
}
@media (max-width:1030px) { 
  .adornoGaleria5 {
    width: 9%; 
    position:absolute; bottom: 10.1%; left: 45%;
  }
}
@media (max-width:900px) {
  .containerFotos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 12%;
    padding-right: 12%;
  }
  .fotoGaleria {
    width: 94% !important;
  }
  .capPdf {    /* ajusta bien desde xxl hasta 900px */
    width: 90%;
    height: 86%;
    margin-right: 4%;
    margin-left: 4%;
    /* background-size:contain; */
    background-image: url("../../../public/images/dibujos/Cap_pdf_2.webp");
  }
  .adornoGaleria1 {
    position:absolute;top: 17.5%; left: 8%;
  }
  .adornoGaleria2 {
    position:absolute;top: -2.7%; left: 79%;
  }
  .adornoGaleria3 {
    position:absolute;top: 32%; left: 79.5%;
    /* position:absolute; bottom: 12%; left: 74%; */
  }
  .adornoGaleria4 {
    position:absolute;top: 65.2%; left: 9%;

  }
  .adornoGaleria5 {
    position:absolute; bottom:12%; left: 45%;
  }
}

@media (max-width:600px) {
  .tituloGaleria {
    font-size: 2.1em;
    padding-right: 0.8em;
  }
  .fotoGaleria {
    width: 100% !important;
    /* margin-bottom: 2.5em; */
    margin-bottom: 0;
    height: auto;
  }
  .fotoGaleriaAmpliada {
    width: 80%;
    width: 76%;
    padding-top: 12%;
  }
  .proyecto {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .proyecto {
    /* margin-top: 2rem;*/
    width: 90% !important;
    /* margin-bottom: 2.5em; */
    margin-bottom: 10%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
  }
  .capPdf {    /* ajusta bien desde xxl hasta 900px */
    width: 95%;
    /* height: 86% !important; */
    height: 100%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    /* margin-bottom: 2.5em; */
    /* padding-bottom: 2.5em; */
    /* background-size:contain; */
    background-image: url("../../../public/images/dibujos/Cap_pdf_2.webp");
    display: block;
  }
  
 
  .contactButton__galery {
    margin-top: 4em;
  }
  .adornoGaleria1 {
    width: 20%;
    position:absolute;top: 30%; left: 3%;
  }
  .adornoGaleria2 {
    width: 20%;
    position:absolute;top: -0.9%; left: 75%;
  }
  .adornoGaleria3 {
    display: none;
  }
  .adornoGaleria4 {
    display: none;
  }
  .adornoGaleria5 {
    width: 20%; 
    position:absolute; bottom:4.5%; left: 74%;
    transform: rotate(170deg);
  }
  .modalRigthBox {
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .modalCloseIcon {
    position: absolute; left:92%; top:3%
  }
  .boxTextoModal {
    font-size: 0.85em;
  }
}