/**** NAVBAR ****/
.appBar {
  box-shadow: none;
  color: transparent;
  background-color: white;
  
}
.appBarLink {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
  font-size: 1.2em;
  cursor:pointer;
  color: var(--redBrand);
}
.appBarLink:hover, .appBarLink:active {
  text-decoration: underline;
  text-underline-position: under;
}
.MenuMovil {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.appBarLinkMovil{
  font-size: 1.3em;
  color: var(--redBrand);
}
.css-xo2ytq-MuiToolbar-root {
  /* HEIGHT de AppBar */
  min-height: 2.5em !important;
  height: 2.5em;
}

.ToolBar{
  justify-content: center !important;
}
@media (max-width:900px) {
  .ToolBar{
    justify-content: start !important;
  }
}
.linkResponsive{
  cursor: pointer;
}