
/*    */
:root {
  --redBrand: #F90606;
}

/*** GENERALES ***/
.logoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tituloSeccion {
  font-size: 4rem;
  font-family: 'Inika', serif;
  color: var(--redBrand);
  
  padding-top: 3rem;
}
@media (max-width:450px) {
  .tituloSeccion{
    font-size: 2.8rem;
  }
}
.subtituloSeccion {
  /* font-size: 4.38em; *3/4*/
  font-size:3rem ;
  font-family: 'Inika', serif;
  color: var(--redBrand);
  padding-left: 1.8em;
  padding-right: 2em;
  margin-bottom: 0.5em;
}

/***** NOSOTROS *****/
/* .circleContainer {
  width: 40vw;
  height: 40vw;
  padding-right: 2em;
  display: flex;
  flex-direction: row;
  justify-content: end;
} */
.tituloNosotros {
  text-align: end;
  padding-right: 0.3em;
  padding-top: 2rem;
  margin-left: 1rem;
}
.circleContainer {
  width: 40vw;
  height: 40vw;
  padding-right: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em ;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.boxImage {
  width: 90%;
  height: 90%;
  margin:0em;
  position:relative;
  padding-left: 1em;
}
.circleImg {
  /* width: 92.1%; */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 0;
  border-radius: 0;
  
}

/* .boxImage {
  width: 100%;
  height: 100%;
  margin:4em 0 4em 4m;
  position:relative
} */
/* .circleImg {
  width: 92.1%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 0;
  border-radius: 0;
} */
.uniformCircle {
  /* width: 84.2%; */
  width: 73.13%;
  /* position: absolute; top: 12.5%; right: 25%; */
  /* position: absolute; top: 12%; right: 22%; */
  position: absolute; top: 10%; right: 33%;
  z-index: -2;
}
.mixColoredCircle{
  width: 84.2%;
  width: 73.13%;
  border-radius: 50%;
  /* position: absolute; top: 12.5%; right: 25%; */
  /* position: absolute; top: 12%; right: 22%; */
  position: absolute; top: 10%; right: 33%;
  z-index: 2;
  /* display: block; */
}
.mixColoredCircleInvisible {
  display:none
}
.smallCircle {
 /*  width: 30%; */
  width: 23%;
  /* position: absolute; top: -6.5%; left: 63%; */
  position: absolute; top: -6.5%; left: 57%;
  
}
.mixColoredCircle:hover {
  opacity: 0;
}
.boxImage:hover > .mixColoredCircle{
  opacity: 0;
} 
.revelar {
  width: 7em;
  padding-left: 6em;
}

/* FRANCISCO*/
.circleContainer__francisco {
  width: 40vw;
  height: 40vw;
  padding-right: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em ;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.boxImage__francisco {
  width: 90%;
  height: 90%;
  margin:0em;
  position:relative;
  padding-left: 1em;
}
.circleImg__francisco {
  /* width: 92.1%; */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 0;
  border-radius: 0;
  
}
.uniformCircle__francisco {
  /* width: 84.2%; */
  width: 68%;
   position: absolute; bottom: 34.5%; left: 19.5%;
  z-index: -2;
}
.mixColoredCircle__francisco{
  /* width: 84.2%; */
  width: 68%;
  border-radius: 50%;
     position: absolute; bottom: 34.5%; left: 19.5%;
  z-index: 2;
  /* display: block; */
}
.mixColoredCircleInvisible__francisco {
  display:none
}
.smallCircle_francisco {
 /*  width: 30%; */
  width: 22.5%;
  /* position: absolute; top: -6.5%; left: 63%; */
  position: absolute; top: 61%; left: 4.5%;
}
.mixColoredCircle__francisco:hover {
  opacity: 0;
}
.boxImage__francisco:hover > .mixColoredCircle__francisco{
  opacity: 0;
} 
/* Cristina */
.circleContainer__cristina {
  width: 40vw;
  height: 40vw;
  padding-right: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em ;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.boxImage__francisco {
  width: 90%;
  height: 90%;
  margin:0em;
  position:relative;
  padding-left: 1em;
}
.circleImg__francisco {
  /* width: 92.1%; */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 0;
  border-radius: 0;
  
}
.uniformCircle__cristina {
  /* width: 84.2%; */
  width: 68%;
   position: absolute; bottom: 32%; right: 36%;
  z-index: -2;
}
.mixColoredCircle__cristina{
  /* width: 84.2%; */
  width: 68%;
  border-radius: 50%;
     position: absolute; bottom: 32%; right: 36%;
  z-index: 2;
  /* display: block; */
}
.mixColoredCircleInvisible__francisco {
  display:none
}
.smallCircle_cristina {
 /*  width: 30%; */
  width: 23.4%;
  /* position: absolute; top: -6.5%; left: 63%; */
  position: absolute; top: 68%; right: 26%;
}
.mixColoredCircle__cristina:hover {
  opacity: 0;
}
.boxImage__francisco:hover > .mixColoredCircle__francisco{
  opacity: 0;
} 



/**** GALERIA COMPONENT  ****/
.tituloGaleria {
  padding-right: 9.3%;
  text-align: end;
  margin-bottom: 2em;
}
.containerFotos {
  display: flex;
  flex-direction: row;
  justify-content: center;
 /*  padding-left: 7em;
  padding-right: 7em; */
  padding-left: 8%;
  padding-right: 8%;
  position: relative;
}
.boxFotoGaleria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* max-width: 20%; */
}
.fotoGaleria {
  width: 85% !important;
  margin-bottom: 2.5em;
  cursor:pointer
}
.boxAdorno {
  position: relative;
  padding-bottom: 0em;
  margin-left: 3em;
  width: 79px;
  height: 79px;
}
.medioAdornoGaleria1 {
  position: absolute; 
  z-index: 2;
  width:52px;
  height:52px;
}
.medioAdornoGaleria2 {
  position: absolute;left: 38px; bottom:12px;
  z-index: 1;
  width:79px;
  height:79px;
}
.adornoGaleria1 {
  width: 11.2%;
  position:absolute;top: 43%; left: 3%;
  z-index:-1;
  transform: rotate(100deg);
}
.adornoGaleria2 {
  width: 10%;
  position:absolute;top: -6%; left: 84%;
  z-index:-1;
  transform: rotate(21deg);
}
.adornoGaleria3 {
  width: 11.2%;
  position:absolute;top: 88%; left: 83%;
  z-index:-1;
  transform: rotate(200deg);
}
.fotoGaleriaAmpliada {
  width: 100%;
}

/*** UPPER BANNER ***/
.upperBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.upperBanner__boxItem {
  display: flex;
  flex-direction: row;
}
.upperBanner__boxItem img {
  width: 1.8em;
}
.upperBanner__boxItem div p {
  color: white;
  font-size: 0.9em;
  margin-bottom:0.3em;
  margin-top: 0.3em;
  margin-left: 0.4em;
}