
/*    */
:root {
  --redBrand: #F90606;
}
body {
  overflow-x: hidden !important;
  width: 100vw !;
}


/*** GENERALES ***/
.logoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  margin-bottom: 4.5em;
  margin-top: 4.5em;
}
.logoImg {
  width: 27%;
  min-width: 280px ;
  height: 27%;
}
/* sx={{ width:{xs:"65%",sm:"37", md:"33%", lg:"27%" }, 
							height: {xs:"auto", md:"27%" },  */
.tituloSeccion {
  font-size: 4rem;
  font-family: 'Inika', serif;
  color: var(--redBrand);
  padding-top: 3rem;
  padding-left: 0.5em;
}
@media (max-width:450px) {
  .tituloSeccion{
    font-size: 2.8rem;
  }
}
.subtituloSeccion {
  font-size:3rem ;
  font-family: 'Inika', serif;
  color: var(--redBrand);
  padding-left: 1.8em;
  padding-right: 2em;
  margin-bottom: 0.5em;
}

@media (max-width:900px) {
  body {
    overflow-x: hidden !important;
  }
  .logoSection {
    min-height: 200px;
  }
  .tituloSeccion {
    font-size: 3.2rem;
    padding-top: 2.5rem;
  }
  .logoImg {
    width: 32%;
    height: auto;
  }
}
@media (max-width:600px) {
  .logoSection {
    /* min-height: 100px; */
    height: 75vh;
    margin-top: 0em;
    /*margin-bottom: 1.5em; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .logoImg {
    width: 65%;
    height: auto;
  }
  .tituloSeccion {
    font-size: 2.1rem;
    padding-top: 2.5rem;
  }
}
.contactButton {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  color: var(--redBrand);
  width: 155px;
  height: 30px;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.contactButton:hover {
  background-color: #F9060610;
}
.contactButton:active {
  box-shadow:inset 0 0 4px 4px #F9060640;
}

