
/*    */
:root {
  --redBrand: #F90606;
}


.logoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.appBar {
  box-shadow: none;
  color: transparent;
}
.appBarLink {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
  font-size: 1.1em;
}
.appBarLink:hover, .appBarLink:active {
  text-decoration: underline;
  text-underline-position: under;
}

/* LOGO */

.logoCSS__firtLine {
  color:#F90606 ;
  font-size: 8em;
}
.logoCSS__secondLine {
  color:#F90606 ;
  font-size: 8em;
  transform:rotate(180deg);
}

.tituloSeccion {
  font-size: 5.75em;
  font-family: 'Inika', serif;
  color: var(--redBrand);
  margin-top: 3em;
}
.subtituloSeccion {
  /* font-size: 4.38em; *3/4*/
  font-size:3.25em ;
  font-family: 'Inika', serif;
  color: var(--redBrand);
}
/* Fotos ocualtas con animacion con click*/
.circleContainer {
  width: 30vw !important;
  height: 30vw !important;
  margin: 3em;
}
.boxImage {
  width: 100%;
  height: 100%;
  margin:4em;
  position:relative
}
.circleImg {
  width: 92.1%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 0;
  border-radius: 0;
  
}
.uniformCircle {
  width: 84.2%;
  position: absolute; top: 12.5%; right: 25%;
  z-index: -2;
}
.mixColoredCircle{
  width: 84.2%;
  border-radius: 50%;
  position: absolute; top: 12.5%; right: 25%;
  z-index: 2;
  display: block;
}
.mixColoredCircleInvisible {
  display:none
}
.smallCircle {
  width: 30%;
  position: absolute; top: -6.5%; left: 63%;
  
}
.mixColoredCircle:hover {
  opacity: 0;
}
.boxImage:hover > .mixColoredCircle{
  opacity: 0;
} 