.super8Background {
    background: linear-gradient(180deg,#F7F7F7 0%, rgba(247,247,247,0) 100%);
}
#super8{
    padding-left: 17.6%;
    padding-right: 17.6%;
    div {
        margin: 1em;
        ul {
            padding-left: 15px;
            padding-right: 60px;
        }
    }
    /* &.css-1oqqzyl-MuiContainer-root { */
    div {
        padding-left: 3%;
        padding-right: 4%;
        @media (max-width:1200px){
            padding-left: 7.5% !important;
            padding-right: 7.5% !important;
        }
        @media (max-width:900px){
            padding-left: 11% !important;
            padding-right: 11% !important;
        }
        @media (max-width:600px){
            padding-left: 14% !important;
            padding-right: 14% !important;
        }
    }
    p{
        font-size: 1.2rem;
        text-align: justify;
    }
    h1{
        padding-left: 0;
    }
}
.super8Buttton {
    margin-top: 2.5em;
    margin-left: 36px;
}